{% extends "book_store/base.html" %}

{% block title %}
  All Books
{% endblock %}

{% block content %}
  <ul>
    
    {% for book in books %}
      {% comment %} <li><a href="{{ book.get_absolute_url }}">{{ book.title }}</a> (Rating: {{ book.rating }})</li> {% endcomment %}
      <li><a href="{% url "book-detail" book.slug %}">{{ book.title }}</a> (Rating: {{ book.rating }})</li>

    {% endfor %}
  </ul>

  <hr>

    <p>Total Number Of Books: {{ total_books }}</p>
    <p>Average Rating: {{ average_rating.rating__avg }}</p>
    <p>Minimum Rating: {{ average_rating.rating__min }}</p>
    <p>Maximum Rating: {{ average_rating.rating__max }}</p>

{% endblock %}