{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Your Review</title>
  <link rel="stylesheet" href="{% static "reviews/styles.css" %}">
</head>
<body>
  <form action="/reviews/" method="POST">
    <div class="form-control {% if form.user_name.errors %}errors{% endif %}">
    {% csrf_token %}
    
    {% for field in form %}
      <div class="form-control {% if field.errors %}errors{% endif %}">
        {{ field.label_tag }}
        {{ field }}
        {{ field.errors }}
      </div>
    {% endfor %}


    {% comment %} {{ form.user_name.label_tag }}
    {{ form.user_name }}
    {{ form.user_name.errors }} {% endcomment %}
    
    {% comment %} {{ form }} {% endcomment %}

    {% comment %} <div class="form-control {% if form.user_name.errors %}errors{% endif %}">
    <label for="username">Your name</label>
    <input id="username" name="username" type="text"> {% endcomment %}
    <button type="submit">Send</button>
  </form>
</body>
</html>